@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Rubik+Gemstones&display=swap');
* {
  background-color: rgb(167, 74, 74);
}

.home-page {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.name {
  font-size: 100px;
}

.self-image {
  display: flex;
  margin-top: -300px;
  margin-left: 800px;
  width: 25%;
  border-radius: 10px;
}

.nav-item {
  display: flex;
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Chivo Mono', monospace;
}
.content {
  font-size: 30px;
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact {
  margin: auto;
  display: block;
  text-align: center;
  flex: auto;
  color: rgb(11, 47, 11);
  font-size: 50px;
}

.input-info {
  background-color: white;
  font-size: 30px;
  margin: auto;
  display: block;
  width: 300px;
  height: 50px;
}

.description {
  background-color: white;
  font-size: 30px;
  margin: auto;
  display: block;
  width: 600px;
  height: 300px;
}

.contact-submit {
  margin: auto;
  display: block;
  background-color: rgb(12, 71, 17); 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 32px;
  text-align: center;
  font-size: 24px;
}


.nav-item:hover {
  color: black;
}
.about-me {
  font-size: 30px;
  font-family: 'Josefin Sans', cursive;
}

.page-footer {
  border-top: solid black 2px; 
}


@media screen and (max-width: 768px) {

  .self-image {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 250px;
    position: absolute;
  }
  .name {
    font-size: 50px;
  }
  .about-me {
    margin-top: 200px;
    font-size: 20px;
  }
}
